/* ----- COMMON STYLES ----- */
:root {
  --border-color: rgba(135, 145, 135, 0.27);
  --section-heading: rgba(32, 32, 32, 0.788);
  --code-bg: rgba(187, 185, 185, 0.425);
  --blue: rgb(47, 47, 227);
  --light-blue: rgba(64, 163, 245, 0.815);
  --purple: rgb(187, 6, 187);
  --orange: rgba(174, 126, 59, 0.863);
}
html {
  font-family: 'Poppins', sans-serif;
}
.main-container {
  max-width: 960px;
  margin: 0 auto;
}
section {
  margin: 60px 0;
}
h1,
h2,
h3 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 2em;
  line-height: 2.4em;
}
h2 {
  font-size: 1.5em;
  line-height: 1.6em;

  text-transform: uppercase;
  margin-bottom: 1em;
  border-bottom: 3px solid var(--section-heading);
}
h3 {
  font-size: 1.2em;
  line-height: 1.3em;

  margin: 30px 0 15px;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
ul li {
  margin-bottom: 0.7em;
}
li > span {
  display: block;
  margin: 0.5em 0;
}
.left-box {
  min-width: 250px;
}
